.flex
{
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.section_timer
{
    padding: 40px 0;
}

.section_timer.bot
{
    position: relative;

    padding: 68px 0;
}

.section_timer .cont
{
    position: relative;
}

.cont {
    width: 100%;
    max-width: 1064px;
    margin: 0 auto;
    padding: 0 16px;
}

.timer_name
{
    font-family: 'TTNorms';
    font-size: 20px;
    font-weight: 700;

    margin-bottom: 28px;

    text-align: center;
    text-transform: uppercase;
}

.section_timer.bot .timer_name
{
    text-align: left;
}

.timer
{
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
}

.section_timer.bot .timer
{
    justify-content: flex-start;
}

.timer .item
{
    min-width: 104px;

    text-align: center;
}

.timer .name
{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}

.timer .val
{
    font-family: 'TTNorms';
    font-size: 54px;
    font-weight: 700;
    line-height: 66px;
}

.timer .sep
{
    color: #46e1b4;
    font-family: 'TTNorms';
    font-size: 54px;
    line-height: 76px;

    width: 60px;

    text-align: center;

    text-shadow: 0 0 10px #46e1b4;
}

.section_timer .line_btn
{
    margin-top: 55px;
}

.section_timer .buy_btn
{
    margin-top: 0;
}

.section_timer .img_abs
{
    position: absolute;
    bottom: -70px;
    left: 50%;
    display: block;
    margin-left: -18px;
    pointer-events: none;
}
